footer{
    background-color: $green;
    width: 100%;
    // position: absolute;
    // bottom: -1rem;
    margin-top: auto;
    #footer{
        color: $beige2;
        text-align: center;
        padding: 1rem;
    }
}